<p class="text-primary">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam
     quis sint numquam aspernatur possimus. Aliquam, dicta quae! 
     Laboriosam officia architecto sapiente totam iste alias 
     laudantium in necessitatibus est. Accusamus, quod!
     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam
     quis sint numquam aspernatur possimus. Aliquam, dicta quae! 
     Laboriosam officia architecto sapiente totam iste alias 
     laudantium in necessitatibus est. Accusamus, quod!
     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam
     quis sint numquam aspernatur possimus. Aliquam, dicta quae! 
     Laboriosam officia architecto sapiente totam iste alias 
     laudantium in necessitatibus est. Accusamus, quod!
     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam
     quis sint numquam aspernatur possimus. Aliquam, dicta quae! 
     Laboriosam officia architecto sapiente totam iste alias 
     laudantium in necessitatibus est. Accusamus, quod!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam
     quis sint numquam aspernatur possimus. Aliquam, dicta quae! 
     Laboriosam officia architecto sapiente totam iste alias 
     laudantium in necessitatibus est. Accusamus, quod!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam
     quis sint numquam aspernatur possimus. Aliquam, dicta quae! 
     Laboriosam officia architecto sapiente totam iste alias 
     laudantium in necessitatibus est. Accusamus, quod!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam
     quis sint numquam aspernatur possimus. Aliquam, dicta quae! 
     Laboriosam officia architecto sapiente totam iste alias 
     laudantium in necessitatibus est. Accusamus, quod!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam
     quis sint numquam aspernatur possimus. Aliquam, dicta quae! 
     Laboriosam officia architecto sapiente totam iste alias 
     laudantium in necessitatibus est. Accusamus, quod!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam
     quis sint numquam aspernatur possimus. Aliquam, dicta quae! 
     Laboriosam officia architecto sapiente totam iste alias 
     laudantium in necessitatibus est. Accusamus, quod!
     
</p>
