<table class="table">
    <tbody>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Department</th>
            <th>Salary</th>
            <th>Profile</th>
        </tr>
        <tr *ngFor="let f of Faculty">
            <td>{{ f.id }}</td>
            <td>{{ f.FacultyName }}</td>
            <td>{{ f.FacultyDepartment }}</td>
            <td>{{ f.FacultySalary }}</td>
            <td><img [src]="f.FacultyImage"></td>
            <td><button class="btn btn-info" (click)="detail(f.id)">Detail</button></td>
            <td><button class="btn btn-danger" (click)="delete(f.id)">Delete</button></td>
        </tr>
    </tbody>
</table>